@font-face {
  font-family: 'TiemposText-Regular';
  src: 
  url('../fonts/TiemposText-Regular.woff2') format('woff2'), 
  url('../fonts/TiemposText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TiemposText-Medium';
  src: 
  url('../fonts/TiemposText-Medium.woff2') format('woff2'), 
  url('../fonts/TiemposText-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'P22UndergroundPro-Book';
  src: 
  url('../fonts/P22UndergroundPro-Book.woff2') format('woff2'), 
  url('../fonts/P22UndergroundPro-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}