//  Table of Contents:
//
//   1. Global
//   2. Mixins
//   3. Typography
//   4. Page
//   5. Navigation
//   6. Index
//   7. Excerpt
//   8. Projects
//   9. Project
//   10. Profile
//   11. Services
//   12. Contact
//   13. Footer

// 1. Global
// ---------

body {  
  cursor: default;
}

body {
  opacity: 1;
  transition: $primary-transition;
  height: 100%;
}

/*
body.fade-out {
  opacity: 0;
}
*/

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: $color--black;
  color: $color--white;
}

:focus {
  outline: 0;
}

[data-sticky] {
  width: 100%;
}

a {
  transition: $primary-transition;
}

.container {
  height: 100vh;  
  @include breakpoint(small) {
  padding-top: 2rem;
  padding-bottom: 2rem;
  }
  @include breakpoint(medium) {
  padding-top: 0rem;
  padding-bottom: 0rem;
  }
}



// 2. Mixins
// ---------


@mixin padding {
  padding-bottom: 3rem;
}

@mixin links ($link, $hover) {
  a {
//     transition: $primary-transition;
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

@mixin sans {
  font-family: $sans-typeface;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

// 2. Animations
// ---------

.animate-fade-in {
  @include mui-animation(fade);
  animation-duration: 0.5s;
}

.animate-fade-in-up {
  @include mui-animation(slide(in, up, 2rem), fade);
  animation-duration: 0.5s;
}

// 3. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6  {
  text-transform: uppercase;
}

h2 {
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

h3 {
  letter-spacing: 0.25rem;
}

.sans {
  font-family: $sans-typeface;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

// 5. Navigation
// ------

.navigation {
  z-index: 100000;
  @include sans;
  padding: 2rem 0rem 0rem 0rem;
}

.navigation__mobile {
  @include sans;
  padding: 0rem 0rem 2rem 0rem;
}

.footer {
  @include sans;
  padding: 0rem 0rem 2rem 0rem;
  p {
    margin-bottom: 0.5rem;
  }
}

// 4. Page
// ------

.page {
  @include breakpoint(small) {
  padding-top: 1rem;
  }
  @include breakpoint(medium) { 
  padding-top: 3rem;
  }
  @include breakpoint(large) { 
  padding-top: 3rem;
  }
}

.page .row {
  padding-bottom: 4rem;
}


// 4. Index
// ------


.index__logo-and-tagline {
  padding: 4rem 0rem;
}

.index__logo {
  padding: 0rem 0rem 4rem 0rem;
  @include breakpoint(small only) {
  padding: 0rem;
  }
}

// 4. Menu
// -------

.menu__sub-navigation {
  @include sans;
  @include links ($color--star-dust, $color--black);
}


.menu__section {
  padding-bottom: 2rem;
}

.menu__section__title {
  padding-bottom: 0.5rem;
}

.menu__item {
  padding-bottom: 2rem;
}

.menu__item__title {
  @include sans;
  padding-bottom: 0.5rem;
}

.menu__item__ingredients {
  padding-bottom: 0.5rem;
}

.menu__item__price {
  @include sans;
  color: $color--star-dust;
}


/*
.menu__section p {
  padding-top: 0.5rem;
}

.menu__price {
  padding-top: 0.5rem;
}
*/


// 4. About
// ----------

.about p a {
  border-bottom: 1px solid $color--black;
}

.about__press {
  @include sans;
}

.about__press__section {
  padding-bottom: 1rem;
}

.about__press__title {
  padding-bottom: 0.5rem;
}

.about__press__link a {
  color: $color--star-dust;
}

// 4. Journal
// ----------

.journal p a {
  border-bottom: 1px solid $color--black;
}

.journal h6 {
  @include sans;
  color: $color--star-dust;
}

// 4. Contact
// ----------


.contact__follow {
  @include sans;
}

.contact__follow__section {
  padding-bottom: 1rem;
}

.contact__follow__title {
  padding-bottom: 0.5rem;
}

.contact__follow__link a {
  color: $color--star-dust;
}

.contact__map {
  margin-bottom: 1rem;
  @include breakpoint(small) {
  height: 20rem;
  }
  @include breakpoint(medium) { 
  height: 30rem;
  }
}

.contact__colophon {
  @include links ($color--star-dust, $color--black);
}