.overlay {
  z-index: 1001;
  position: fixed;
  display:flex;
  align-items: stretch;
  background: $color--zircon;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; 
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s;
  overflow: hidden;
  
  &.open {
    opacity: 0.98;
    visibility: visible;
  }
  nav {
    display:flex;
justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }
  ul {
    list-style: none;
    li {
      font-family: $header-font-family;
      font-size: 2rem;
      padding: 16px;
      min-height: 2rem;
      text-align: center;
      
      a {
        padding: 1rem;
//         color: $color--black;
      }
    }
  }
}