---
layout: default
---

<section class="about page">
   
  <div class="row align-center about__carousel wow animate-fade-in">
  	<div class="small-12 medium-8 columns text-center">
    	
<div class="carousel">
{% for image in page.images %}
  <img src="{{image}}">
{% endfor %}
</div>
<!-- End Food Carousel -->
  	</div>
  </div>

  {% for section in page.section %}
    <div class="row align-center about__section wow animate-fade-in">
      <div class="small-12 medium-8 columns">
        <h2>{{section.title}}</h2>
        {{section.text | markdownify}}
      </div>
    </div>
  {% endfor %}
  
  <div class="row align-center about__press wow animate-fade-in">
  	<div class="small-12 medium-8 columns text-center">
    	<h2>Press</h2>        
        {% for press in page.press %}
    	<div class="about__press__section">
            <div class="about__press__title"><a href="{{press.link}}" target="_blank">{{press.quote}}</a></div>
            <div class="about__press__link"><a href="{{press.link}}" target="_blank">— {{press.cite}}</a></div>
      </div>
      {% endfor %}
      
  	</div>
  </div>
  
</section>


