---
layout: default
---

<section class="about page">
   
  <div class="row align-center about__carousel">
  	<div class="small-12 medium-8 columns text-center">
      <img src="{{page.image}}">
  	</div>
  </div>
  
  <div class="row align-center about__about">
  	<div class="small-12 medium-8 columns text-center">
    	<h2>About</h2>
    	<p>Opened in September 2016, by brothers Noel and Max Venning, Three Sheets is a neighbourhood café-bar in Dalston specialising in drinks. We take great care selecting our wine and beer, which we rotate regularly. The coffee is provided by Alchemy, which we serve alongside a range of snacks through the day, and into the evening.
Our speciality is cocktails. With a weekly rotating seasonal menu, we aim to utilise modern kitchen techniques and ingredients to create drinks that are delicious and unique to the city.
Noel recently moved to London from Manchester, where he was running Crazy Pedro’s, after stints at Trof and the Deaf Institute.   
Max recently left the position of Operations Manager at the Drink Factory, overseeing 69 Colebrooke Row, and opening Bar Termini. Previously he worked at Socio Rehab, and set up Almost Famous Burgers in Manchester, as well as a period at Rick’s Cocktail Bar in Edinburgh.</p>
  	</div>
  </div>
  
  <div class="row align-center about__wine">
  	<div class="small-12 medium-8 columns text-center">
    	<h2>Wine</h2>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.
Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper.</p>
  	</div>
  </div>
  
  <div class="row align-center about__food">
  	<div class="small-12 medium-8 columns text-center">
    	<h2>Food</h2>
    	<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.</p>
  	</div>
  </div>
  
  <div class="row align-center about__press">
  	<div class="small-12 medium-8 columns text-center">
    	<h2>Press</h2>
    	<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.</p>
  	</div>
  </div>
  
</section>


