---
layout: default
---

<section class="contact page">
  
  <div class="row align-center">
    <div class="small-12 medium-8 columns">
        <div id="threesheets_canvas" class="contact__map"></div>    
    </div>
  </div>
  
  
  <div class="row align-center contact__address">
  	<div class="small-12 medium-8 columns text-center">
    	<p>510b Kingsland Road, London E8 4AE — Map</p>
Monday - Friday   8.30am—12.45am<br>
Saturday   12pm—12.45am<br>
Three Sheets is closed on Sundays.</p>
  	</div>
  </div>
  
  <div class="row align-center contact__contact">
  	<div class="small-12 medium-8 columns text-center">
    	<h2>Contact</h2>
    	<p>Please contact us with any questions including but not limited to: our current cocktails, location, hours, private parties, information about suppliers, general life advice.
Three Sheets doesn’t accept reservations.
+44 (0)77 1864 8771
info@threesheets-bar.com
</p>
  	</div>
  </div>
  
  <div class="row align-center contact__follow">
  	<div class="small-12 medium-8 columns text-center">
    	<h2>Follow</h2>
    	{% for social in site.social %}
            <p><a href="{{social.link}}">{{social.title}}<br><span>{{social.short}}</span></a><br></p>
      {% endfor %}
  	</div>
  </div>
  
  <div class="row align-center contact__colophon">
  	<div class="small-12 medium-8 columns text-center sans">
    	<a href="{{site.colophon}}">Site Credit</a>
  	</div>
  </div>
  

  
</section>


{% include map-script.html %} 