---
layout: default
---

<div class="menu__sub-navigation">
  <div class="shrink columns show-for-medium">
    <ul class="menu align-center">
      <li><a href="#cocktails">Cocktails</a></li>
      <li><a href="#beer-cider">Beer + Cider</a></li>
      <li><a href="#wine">Wine</a></li>
      <li><a href="#snacks">Snacks</a></li>
    </ul>
  </div>
</div>

<section class="page">
  <div class="row align-center">
    <div class="small-12 columns">
      {% assign menu = site.menu | sort: 'position' %}
      {% for section in menu %}
        <div class="row align-center menu__section wow animate-fade-in" id="{{section.type | slugify}}">
          <div class="expand columns">
            <div class="menu__section__title"><h2>{{section.title}}</h2></div>
            {% for menu-item in section.menu-item %}
            <div class="menu__item">
                <div class="menu__item__title">{{menu-item.title}}</div>
                  <div class="menu__item__ingredients">
                    {% for ingrendient in menu-item.ingredients %}
                    {{ingrendient}}{% if forloop.last == false %} — {% endif %}
                    {% endfor %}
                  </div>
                <div class="menu__item__price">{{menu-item.price}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="row align-center">
    <div class="shrink columns">
      <a class="button hollow uppercase sans" href="https://www.dropbox.com/s/ehylxouxz25bsx7/three-sheets-menu-june.pdf?dl=1">Download Menu</a>
    </div>
  </div>  
  
</section>
  

