---
layout: default
---

<section class="menu page row columns">
  {% assign menu = site.menu | sort: 'position' %}
  {% for section in menu %}
    <div class="row align-center">
      <div class="small-11 medium-10 columns">
        <h2>{{section.title}}</h2>
        {% for menu-item in section.menu-item %}
            <h6 class="sans">{{menu-item.title}}</h6>
            {% for ingrendient in menu-item.ingredients %}
            {{ingrendient}}{% if forloop.last == false %} — {% endif %}
            {% endfor %}
            <p>{{menu-item.price}}</p>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</section>